.products
{
 display: grid;
 grid-template-columns: repeat(3,1fr);
}
.product img
{
  height: 200px;
  width: 200px;
}
.product
{
  text-align: center;
  padding: 50px;
  box-shadow: 8px 8px 8px black;
}
.product:hover
{
  box-shadow: 8px 8px 8px #dc8212;
}
button
{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
}
button:hover
{
    background-color: #dc8212;
}
