header img
{
    height: 100px;
    width: 100px;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
ul
{
    display: flex;
    gap: 20px;
}
li
{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}