<header>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsB6b50xv7gb1yBFqYDT0twXAmUIHK51llVBfN6gDwWA&s" alt="logo">
    <div>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
    <div>
        <button><a routerLink="/login" style="color: black;">Login</a></button>
    </div>
</header>